/* ===== GLOBAL ===== */
body {
  font-family: Arial, sans-serif;
  background: linear-gradient(to bottom, #000000, #ffffff, #c0c0c0);
  color: #fff;
  margin: 0;
}

a {
  color: #00ff88;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.app-container {
  max-width: 1200px;
  margin: 0 auto;
}
